<form action="/product/addCategory" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Category</label>
        <input type="text" class="form-control" id="category" name="name" placeholder=" Category">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>